{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

        {{ product1.description|truncatewords:155 }}



{% endblock %}
{% block title %}
    {% if category %}
        {{ products.name }} - Shop 360

    {% endif %}
{% endblock %}
{% block body %}
<div class="row my_row_product_class">
    <div class="mx_auto">
        <p><a href="{% url 'shopapp1:apcategory' %}">home</a> |  <a href="{{products.category.get_url}}">{{products.category}}</a>|{{products.name}}</p>
    </div>
</div>
<div class="container"></div>
<br>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <div class="min-width:25rem">
            <img class="my_product_image" src="{{products.image.url}}" alt="{{products.name}}">
        </div>
    </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 ">
            <div>
            <h1 class="my_product_title">{{products.name}}</h1>
            <p>{{products.price}}Rs</p>
            <p class="my_title">products description</p>
            <p class="text-justify my_product_text">{{products.description}}</p>
            {% if products.stock <= 0 %}
            <p class="text-justify my_product_text "><b>Out Of Stock</b></p>
            {% else %}
            <a class="btn btn-light" href="{% url 'cartapp:add_cart' products.id %}">Add To Cart</a>
            {% endif %}

        </div>
    </div>
</div>
</div>

{% endblock %}